/* Patch: auto-infer dark mode colors for author-customized source colors 

   Tactic: generally a single uniform adjustment over 25,000 colors can not be fully successful.
   We have to decide between pragmatic trade-offs; In this case we choose to preserve hue and chroma
    and adjust lightness to ensure sufficient contrast against a dark background.

  To get a pleasant result, we use the OKLCH color space pushed up by 0.25 in lightness,
   and take care to still preserve contrast for very dark colors (L < 0.25).
  Is it perfect? No. Does it improve readability in most cases? Yes. */
[data-theme="dark"] [style*="--inline-color:"] {
  color: oklch(from var(--inline-color) clamp(0.24, calc(1.25 - L + (0.25 * min(0, sign(L - 0.25)))),1) c h);
}
[data-theme="dark"] [style*="--inline-bg-color:"] {
  background-color: oklch(from var(--inline-bg-color) clamp(0.24, calc(1.25 - L + (0.25 * min(0, sign(L - 0.25)))),1) c h);
}
[data-theme="dark"] [mathcolor] {
  color: oklch(from attr(mathcolor) clamp(0.24, calc(1.25 - L + (0.25 * min(0, sign(L - 0.25)))),1) c h);
}
[data-theme="dark"] [mathbackground] {
  background-color: oklch(from attr(mathbackground) clamp(0.24, calc(1.25 - L + (0.25 * min(0, sign(L - 0.25)))),1) c h);
}
