:root {
  /* TODO: style the rest */
  --background-color: #151515;
  --text-color: #d4d4d4;
  --link-text-color: #a6a6a6;
  --border-color: white;
  --border-light-color: #d4d4d4;
  /* stay as light theme as transparent PNGs have white bg expectations */
  --image-color: black;
  --image-background-color: white;
  --note-mark-color: #daa002; /* color: #3f88c5; */
  --note-highlight-color: midnightblue;
  --error-color: #d84148;
  --index-ref-color: #cd5b45;
}